/* Fonts */
@font-face{
    font-family: "Raleway-Thin";
    src:url(/fonts/Raleway-Thin.ttf);
}

@font-face{
    font-family: "Raleway-Light";
    src:url(/fonts/Raleway-Light.ttf);
}

@font-face{
    font-family:"Raleway-Regular";
    src:url(/fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family:"Raleway-SemiBold";
    src:url(/fonts/Raleway-SemiBold.ttf);
}

@font-face{
    font-family:"Raleway-Bold";
    src:url(/fonts/Raleway-Bold.ttf); 
}
/* End Fonts */

/* Text Style */

h1{
    font-family: "Raleway-SemiBold";
    font-size:50px;
    color:white;
}
.top-bar h1{
    font-family: "Raleway-Light";
    font-size:40px;
    color:white;
}
h2{
    font-family: "Raleway-Light";
    color:white;

}
h3{
    font-family:"Raleway-Regular";
    color:white;
    font-size:25px;
}

p{
    font-family:"Raleway-Regular";
    font-size:16px;
}

ul li{
     font-family:"Raleway-Regular";
    font-size:16px;   
}

a{
    cursor:pointer;
}
a:hover{
    text-decoration: none;
}

textarea.form-control{
    padding-top:7px;
    padding-bottom:10px;
}
.spacer{
    margin-top:50px;
}

.half-spacer{
    margin-top:30px;
}
/* End text style */

/* Margins */
.container-left-margin{
    margin-left:15px;
}
.container-right-margin{
    margin-right:15px;
}
.container-top-padding{
    padding-top:30px;
}
/* End Margins */

/* Buttons */

a.button{
    font-family:"Raleway-Light";
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background-color:#5a1d4f;
    color:white;
    opacity:0.90;
    text-decoration:none;
    cursor:pointer;
}

button.button{
    font-family:"Raleway-Light";
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background-color:#5a1d4f;
    border:none;
    color:white;
    opacity:0.90;
    text-decoration:none; 
    cursor:pointer;    
}

a.button:hover{
    opacity:1;
    color:white;
}

/* Button save */

a.button.save{
    font-family:"Raleway-Light";
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background-color:#5cb85c;
    color:white;
    opacity:0.90;
    text-decoration:none;
    cursor:pointer;
}

/* Button close */

a.button.close{
    font-family:"Raleway-Light";
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background-color: #CCCCCC;
    color:white;
    opacity:0.90;
    text-decoration:none;
    cursor:pointer;
}

/* Datepicker */

.uibdatepicker{
    padding:10px;
    padding-left:0px;
    opacity:0.8;
}

.uibdatepicker .btn{
    font-size:13px;
}


.keyword-input{
    background: transparent !important;
    border-radius: 0;
    color:black;
    width:90%;
}

body{
    margin:0 auto;
    position:relative;
}

/* Homepage Styles */
#home-bg-cover{
    position:relative;
    width:100%;
    height:800px;
    overflow:hidden;
    text-align:center;
    background-image:url('/assets/images/video-frame.png');
    background-size:cover;
    background-position:top center;
}

video#bgvid{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    z-index:100;
}

#video-cover{
    position:absolute;
    width:100%;
    max-height:700px;
    z-index:2000;
    background: rgba(0, 0, 0, 0.5);
}

a#logo img{
    width:100%;
}

img#mobile-logo{
    margin-left:10px;
}

#homeIntro h1{
    text-shadow: 0px 1px 1px black;
}

#homeIntro h3{
    text-shadow: 0px 1px 1px black;
}

#home-top-content{
    display:block;
    position:relative;
    z-index:1000;
    text-align:center;
    margin-bottom:50px;
}


#home-description{
    text-align:center;
    margin-top: 50px;
    height:auto;
}

#home-description h1{
    color:#1e3c64;
}

#home-sub-description{
    background-image: url("/assets/images/Jobseeker_frozen_blur.png");
    background-size: cover;
    width:100%;
    margin:0px;
}

#company-sub-description{
    background-image: url("/assets/images/Company_frozen_blur.png");
    background-size: cover;
    width:100%;
    margin:0px;
}
/* Hover effect box style */ 

/* Boxes */

    #boxes{
    width:100%;
    position:relative;
    }

    .box{
        position: relative; 
        min-height: 260px;
        float: left; 
        margin-bottom: 5px;
        width: 100%;
        border:1px solid white;
        /*box-shadow: 0px 0px 4px white;*/
    }
    
        /* OVERLAY */
        .overlay{
            display:block;
            position:absolute;
            z-index:20;
            background: rgba(255, 255, 255, 1);
            overflow:hidden;
            transition: all 0.5s;
        }
            a.close-overlay {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 100;
              width: 25px;
              height: 25px;
              font-size: 20px;
              color: #1e3c64;
              text-align: center;
              background-color: white;
              cursor: pointer;
            }
            a.close-overlay.hidden {
              display: none;
            }

            a.expand {
                font-family: "Raleway-Light"; 
                font-size:14px;
                padding:0px 10px 0px 10px;
                text-decoration:none;
                display: block;
                position: relative;
                z-index: 100;
                text-align: center;
                color: #fff;
            }
            
            a.expand:hover{ color:white;}
        /* END OVERLAY */
    
        /* Slide in effect */
        #boxes .overlay{
            bottom:0;
            left:0;
            right:0;
            width:100%;
            height:0%;
        }
        #boxes .overlay p{
            color:#1e3c64;
            position:relative;
        }

        #boxes .overlay .inBoxParagraph{
            margin-top:70px;    
        }

        .box p{
            position:absolute;
            top:50%;
            cursor:pointer;
            font-family: "Raleway-Light";  
            color:white;
            margin-top:-30px;
            font-size:18px;
            padding: 10px 0px 10px 0px;
            width:100%;
            text-align:center;
        }

        #boxes .overlay .inBoxParagraph p{
            font-size:16px;    
            font-family: "Raleway-Regular";
        }

        .picture-box{
            overflow: hidden;
        }

        #boxes .overlay a.expand {
          left: 0;
          right: 0;
          top: 5%;
          margin: 0 auto;
        }
        #boxes .box.hover .overlay {
          height: 100%;  
        }

        #boxes .picture-box.hover .overlay {
          height: 70%;  
          background:rgba(255, 255, 255, 0.8);
        }

        #boxes .picture-box h4{
            width:100%;
            font-family: "Raleway-Regular";
            text-align:center;
            font-size:16px;
        }
        /* End slide in effect */

            
/* End Boxes */

/* End hover box style */

#home-description h3{
    color:#1e3c64;
    font-size:30px;
    font-family:"Raleway-Regular";
}

#home-description p{
    padding-left:20px;
    padding-right:20px;
    font-family:"Raleway-Regular";
    font-size:16px;
}

.icon-bg{
    margin:0 auto;
    width:80%; 
    padding-bottom:10px;
}

.icon-bg img {
    width:auto;
    height:120px;
    margin-top:20px;
}

.container-fluid{
    position:relative;
    z-index:200;
}

.on-white-background h1, .on-white-background h2, .on-white-background h3{
    color:#1e3c64;
}


/**
 *
*** ---- Search Styles ------ */


.multiSelect > button { 
    width:100%;
    text-align:left !important;
    padding: 6px 15px !important;
}

span.caret {
    position:absolute !important;
    top:16px;
    right:7px;
}

.form-control{
    padding: 1px 15px 1px 12px;
}

h3.filters-title{
    width:120%;
    margin-left: -30px;
    padding:15px 15px 15px 27px;
    margin-bottom:5px;
    margin-top:0px; 
    color:black;   
    font-family: "Raleway-Light";
    background-color: #f0f0f0;
    border-top:2px solid #dfdfdf;
}

.search-pannel{
    width: 119%;
    margin-left: -30px;
    background-color: #f0f0f0;
}

.search-pannel h5{
    font-family: "Raleway-Light";
    padding-top:0px;
    padding-left:5px;
    font-size: 18px;
}

.search-box{
    width:100%;
    padding:5px 5% 15px 5%;
    margin:0 auto;
    margin-bottom:5px;
    background-color: #f0f0f0;
    border-bottom:2px solid #dfdfdf;
}

.checklist-item{
    cursor:pointer;
    font-family: "Raleway-Thin";
    font-size:16px;
}

.checklist-item input{
    margin-right:10px;
}
.search-button{
    background-color:rgb(30, 60, 100);
    color:white;
    font-family: "Raleway-Bold";
    font-size:16px;
    width:50%;
    margin-left:50%;
}

.search-button:hover{
    color:white;
    background-color:#5a1d4f;
}

.result-options{
    text-align:right;
    margin-top:12px;
}

.options-button{
    background-color:rgb(30, 60, 100);
    color:white;
    font-family: "Raleway-Regular";
    font-size:12px;
    opacity:0.7;
}

.options-button:hover{
    color:white;
    opacity:0.8;
    background-color:#5a1d4f;
}
.results-pannel{
    width:65%;
    position:relative;
    float:right;
    padding:5px;
    padding-top:0px;
    background-color: white;
}

.results-title{
    width:100%;
    padding:15px 15px 15px 27px;
    margin-bottom:5px;
    margin-top:0px; 
    color:black;   
    font-family: "Raleway-Light";
    background-color: #f0f0f0;
    border-top:2px solid #dfdfdf;
}

.result-box{
    width:100%;
    padding:20px 10px 20px 10px;
    margin:0 auto;
    margin-bottom:5px;
    background-color: rgb(196, 216, 226); 
    background-size: cover;  
    border:2px solid #dfdfdf;
}

.modal-header h3, .modal-header h4 {
    text-align:center;
    color:black;
    font-family: "Raleway-Light";   
}
.modal-footer{
    text-align:center !important;
    position:relative;
}
.modal-footer .button {
    margin-top:10px;
}

.contactUserPannel h4{
    padding-top:20px;
    color:black;
}

.contactUserPannel button span{
    position:absolute;
    top:15px;
    right:15px;
}

.contactUserPannel h3{
    color:black;
    text-align:left;
    width:80%;
    margin:0 auto;
}

.contactUserForm textarea{
    min-height: 150px;
}

.modal-footer .form-control {
    width:80%;
    margin:0 auto;
}

.modal-footer h4 {
    width:80%;
    margin:0 auto;
    text-align:left;
}
/**  
 * ---------- Blog Style ----------
**/

.article-box{
    min-height:250px;
}

.article-list{
    width:100%;
    list-style-type:none;
}

.sidebarBox h3 {
    color:#1e3c64;
}

.sidebarBox ul {
    list-style-type:none;
}
/**  
 * ---------- End Blog 
**/


/* ---------- About us page style ---------- */
.picture-box {
    width:100%;
}

.picture-box h3 {
    width:100%;
    margin-top:0px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:Center;
}

.picture-box img {
    width:100%;
}

/* ---------- end about us --------------- */


/* ---------------- Navigation Styles ---------------- */
.navbar-default{
    position:relative;
    z-index:100;
    background-image:none;
    background-color: transparent;
    border: none;
    width: 100%;
    max-width:1200px;
    margin:0 auto;
    margin-top:-10px;
    box-shadow:none;
}

.navbar-default .navbar-brand{
    margin-top:-10px;
}
.navbar-default .navbar-nav{
    padding-top:12px;
}

.navbar-default .navbar-nav>li>a{
    margin-top:-0px;
    /*text-shadow: 1px 1px 1px #1e3c64;*/
    color:white;
    font-style:"Raleway-SemiBold";
}

.navbar-default .navbar-nav > li > a {
    color: white;
}


.navbar-default .navbar-nav>li>a:hover{
    color:white;
    border-bottom:2px solid white;
    text-shadow: 0 0 1px white;
    padding-bottom:5px;
}

nav a{
    font-size:16px;
    margin-right:20px;
    text-decoration:none;
    font-family:"Raleway-Regular";

}

nav a:hover{
    opacity:1;
}
/* ---------------- Profile Navigation Styles ---------------- */
.menu{
    max-width: 1170px;
    margin:0 auto;
}
.profile-menu-top-margin{
    margin-top:5px;
}
.profile-navbar{
    margin-bottom:6px;
}
.profile-navbar .navbar-brand{
    margin-top:0px;
    padding-top:5px;
}
.profile-navbar a#logo img{
    height:65px;
    width:auto;
}
.profile-navbar .navbar-nav>li>a{
    color:#1e3c64;
    font-size:16px;
    text-shadow: none;
}
.profile-navbar .navbar-nav>li>a:hover{
    color:#1e3c64;
    background-color:transparent;
    /*text-shadow: 1px 1px 1px #1e3c64;*/
}

/* ------ END Profile Navigation Styles ------ */

/* --------------------- - Login Dialog Box Style - -------------------- */

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 20000;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #dadad8;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
}

.messaging-popup {
    width:600px;
    display: none;
    background: #dadad8;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
}

.signup-popup {
    display: none;
    background: #dadad8;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
}

.close-login{
    font-family: "Raleway-Light";
    float: right;
    margin: 0 5px 0 0;
    text-decoration:none;
    opacity:0.6;
}

.close-messaging{
    font-family: "Raleway-Light";
    float: right;
    margin: 0 5px 0 0;
    text-decoration:none;
    opacity:0.6;
}
.close-signup {
    font-family: "Raleway-Light";
    float: right;
    margin: 0 5px 0 0;
    text-decoration:none;
    opacity:0.6;
}

/* * *
    * * * Messaging Page style * * *
                                  * * */
.message-result {
    background-color:rgb(196, 216, 226);
    margin-right:-35px;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
}

.message-title {
    font-size:25px;
    padding: 15px 15px 4px 27px;
    background-color: #f0f0f0;
}

.messageList {
    background-color:rgb(196, 216, 226);
    margin-left:-30px;
    width:116%;
    margin-top:-5px;
    margin-bottom:5px;
    border-bottom: 2px solid #dfdfdf;
}

.messageList ul { list-style-type: none; padding:0px; padding-top:0.1px; margin-bottom:-1px;}

.messageList ul li {
    opacity:0.6;
    cursor:pointer;
    padding:20px;
    padding-left:25px;
    margin:5px;
    background:rgba(255,255,255,0.6);
}

.messageList ul li:hover {
    opacity:1;
}

.messageList ul li.readMessage {
    background:rgba(255,255,255,0.2);
}

.messageList ul li.unreadMessage {
    background:rgba(255,255,255,0.8);
}

.message-content {
    font-size:22px;    
    margin:5px;
    padding:27px;
    padding-bottom:17px;
    background:rgba(255,255,255,0.6);
}

.message-footer {
    font-size:20px;    
    padding:30px;
    padding-top:10px;
    padding-bottom:0px;
    background:rgba(255,255,255,0.6);
}

fieldset {
    border: none;
    padding-left:50px;
    padding-right:50px;
}

form.signin h2{
    margin-top:30px;
    margin-bottom:20px;
}
form.signin .textbox input{
    opacity:0.8;
}
form.signin .textbox label {
    display: block;
    padding-bottom: 10px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

input#login-button{
    padding-left:25px;
    padding-right:25px;
    padding-top:6px;
    padding-bottom:10px;
    border-radius:5px;
    background-color:#5a1d4f;
    font-family:"Raleway-Regular";
    color:white;
    opacity:0.90;
    text-decoration:none;
    cursor:pointer;
    width:120px;
}
input#login-button:hover{
    opacity:1;
}

form.signin .textbox input {
    background: #c6cacb;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: black;
    font-family:"Raleway-Regular";
    padding: 10px 10px 10px;
    width: 250px;
}
.textbox h2{
    color:#1e3c64;
}

.textbox a{
    color:#1e3c64;
    text-decoration:none;
}
form.signin input:-moz-placeholder {
    color: black;
    opacity:0.8;
}

form.signin input::-webkit-input-placeholder {
    color: black;
    opacity: 0.8;
}
.login-button:hover {
    background: #ddd;
}

form.signin p{
    width:250px;
}
/* End dialog box style */

/* Sign up box */
.register-panel{
    background: rgb(30, 60, 100); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(30, 60, 100, .7);
    border:none;
    border-radius:0px;
    font-family:"Raleway-Regular";
    font-size:16px;
    max-width:1000px;
    margin:0 auto;
}
.register-panel .control-label{
    color:white;
    font-family:"Raleway-Regular";
    font-size:16px;
}
.register-panel .panel-heading{
    width:100%;
    font-family:"Raleway-Regular";
    font-size:20px;
    color:#1e3c64;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .95);
}
.register-panel .panel-body{
    margin-top:20px;
}
.register-panel a.switch-btn{

}
.register-panel a.switch-btn:hover{
    text-decoration:none;
}
.register-panel a.switch-btn-on{
    color:#1e3c64;
}
.register-panel a.switch-btn-off{
    cursor:pointer;
    font-size:16px;
}

a.termsLink{
    color:#E7FEFF;
}
a.termsLink:hover{
    color:white;
    text-decoration:none;
}
/* End sign up */


/* REGISTRATION STYLE */

    .company-memberships img{
        width:100%;
    }
    
    md-tabs .md-tab[disabled]{
        color:#D3D3D3;  
        opacity:0.3;
    }
    md-tab-item:not([disabled]){
        color:white !important; 
        opacity:0.8 !important;
    }

    md-tab-item.md-active{
        color:white !important; 
        opacity:1 !important;
        border-bottom:3px solid white !important;
    }
    .tabsdemoDynamicTabs md-tabs {
        border-bottom: 1px solid rgba(0, 0, 0, 0.7); 
    }

    .aTab {
        padding: 25px; 
        text-align: left; 
        height:auto;
    }

    .checkboxLayer{
        max-height:250px;
        overflow-y: scroll; 
        position:relative !important;
        padding-top:5px !important;
    }
    md-tabs-content-wrapper {
        background-color: #f0f0f0;
    }


/* End registration style */

/* ---------- Video Style ----------- */

    vg-controls .controls-container{
        background-color: rgba(0, 0, 0, 0) !important;
    }

    videogular .iconButton{
        color:#5a1d4f !important;
    }
    videogular vg-time-display{
        color:#5a1d4f !important;
        font-size:14px !important;
    }

    videogular .iconButton:focus{
        outline:0 !important;
        border:0 !important;
    }

/* ------ End Video Style ----------- */


/* --------- Profile Style ---------- */
.profile-cover{
    width:100%;
    height:300px;
    position:relative;
    background-color:#C4D8E2;
    background-size: cover;
}

a#addProfileCover{
    position:absolute;
    top:15px;
    right:15px;
}

.profile-cover .profile-picture{
    float:left;
    margin-left:45px;
    width:220px;
    position:relative;
}

.profile-cover .profile-picture img{
    margin-top:40px;
    margin-bottom:30px;
    width:220px;
}

a#changePp.button{
    margin:0 auto;
    font-size:15px;
    position:absolute;
    width:100%;
    text-align:center;
    padding:10px 0px 10px 0px;
    margin:0px;
    bottom:20px;
    z-index:1000;
}

#uploadProfilePicture{
    width:402px;
    position:absolute;
    left:0px;
    z-index:20000;
}

#uploadProfileCover{
    width:1200px;
    position:absolute;
    left:-100px;
    z-index:20000;
}

.ppCropArea {
  background: #E4E4E4;
  overflow: hidden;
  float:left;
  width:350px;
  height:350px;
}

.coverCropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:1200px;
  height:400px;
}

.ppTitle{
    border: 1px solid #aaa;
    background-color:#1e3c64;
}

.ppTitle h3{
    padding:5px;
    color:white;
}

.action{
    padding:5px;
    background-color:#1e3c64;
    /* border: 1px solid #aaa; */
}
.action input{
    cursor:pointer;
    font-size:15px;
    padding:5px;
    font-family:"Raleway-Regular";
}

a.button{
    font-family:"Raleway-Light";
    font-size:17px;
    padding-left:25px;
    padding-right:25px;
    margin-top:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:8px;
    background-color:#5a1d4f;
    color:white;
    opacity:0.90;
    text-decoration:none;
}
a.front-page-button{
    font-family:"Raleway-Light";
    border:1px solid white;
    padding-left:35px;
    padding-right:35px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:transparent; 
    text-shadow: 0px 1px 1px black;
}
a.front-page-button:hover{
    background:rgba(90, 29, 79, 1);
    border:none;
    box-shadow: none;
}

.packageBox{
    width:100%;

}

.packageBox h3{
    padding-top:20px;
    padding-bottom: 8px;
    margin-bottom:2px;
    color:#193c64;
    background-color:#f0f0f0;
}

.packageBox p.priceTag{
    width: 100%;
    padding-bottom:6px;
    background-color:#193c64;
    color:white;
    margin:0 auto;
    
}
.packageServices {
    padding:0px;
}

.packageServices ul{
    list-style-type: none;
    padding-left:0px;
    margin:0px;
    padding:0px;
}

.packageServices ul li{
    margin:0px;
    width:100%;
    margin-top:2px;
    padding:10px;
    background-color:#f0f0f0;
}


input.button{
    cursor:pointer;
    border:none;
    font-family:'Raleway-Light';
    font-size:18px;
    font-style: normal;
    padding-left:25px;
    padding-right:25px;
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background-color:#5a1d4f;
    color:white;
    opacity:0.90;
    text-decoration:none;
}
input.button:hover{
    opacity:1;
}


.top-bar{
    position:relative;
    display: table;
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
}

.top-bar h1{
    color:#1e3c64;
    float:left;
    margin-top:0px;
}

.top-bar h2{
    color:black;
    margin-top:7px;
    padding-left:20px;
    float:left;
}
/* Profile sub-Navigation */
.glyphicon{
    color:#5a1d4f;
} 
.top-bar ul.nav-bar{
    list-style-type:none;
    float:right;
    margin-top:12.5px;
    margin-right:10px;
}
.top-bar ul.nav-bar li{
    float:left;
    padding-left:25px;
}
.top-bar ul.nav-bar a{
    font-family:"Raleway-Light";
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    border-radius:5px;
    background-color:#5a1d4f;
    color:white;
    opacity:0.90;
    text-decoration:none;
    text-align:center;
    width:202px;
}

.top-bar ul.nav-bar li ul{
    list-style-type:none;
}

.top-bar ul.nav-bar li ul li{
    padding-left:0px;
}

.top-bar ul.nav-bar a:hover{
    opacity:1;
    cursor:pointer;
}

.top-bar ul.nav-bar a img{
    width:23px;
}

ul.nav-bar li ul {position:absolute; width:auto; right:0px; text-align:center;}
ul.nav-bar li ul.fallback {display:none; z-index:100000; padding-top:10px;}
ul.nav-bar li ul li {width:auto; margin-top:2px; padding-left:0px;}
ul.nav-bar li ul li a {display:block; padding-top:10px; padding-bottom:10px; color:#444; width:100%;}
ul.nav-bar li ul li:hover a {background:#5a1d4f; border-bottom:1px solid white;}
ul.nav-bar li:hover ul.fallback {display:block;}

/* End Sub-Navigation */

/* -------- Info Section --------- */
.grey-section{
    background-color:#f0f0f0;
    width:100%;
    padding-bottom:10px;

}

.info{
}

.cvideon{
    position:relative;
    width:100%;
    height:310px; 
    background-color:#C4D8E2;
}

a#replaceVideo{
    display:none;
    float:right;
    width:160px;
    text-align:center;
    position:absolute;
    bottom:5px;
    right:210px;
}
.info h3{
    margin-top:0px;
    color:#5B5A59;
}
.info h3 img{
    width:25px;
    margin-top:5px;
}

p.categoryTitle{
    font-family:"Raleway-Regular";
    font-size:16px;
    color: #5B5A59;
    margin-bottom:0px;
    padding-bottom:0px;
}
p.categoryText{
    font-size:18px;
    color: black;
    font-family: "Raleway-Regular";
    font-weight: 400;
}
a.categoryText{
    font-size:18px;
    color: black;
    font-family: "Raleway-Regular";
    font-weight: 400;
}
/* CVideo Section */

.cvideo{
    position:relative;
    float:left;
    width:150px;
    height:100px;
    margin-right:20px;
}

.cvideon p{
    width:100%;
    margin-top:20px;
    font-size:14px;
    text-align:center; 
    color:white;
    font-family:'Raleway-Regular';
}

.videoCover{
    width:150px;
    height:100px;
    z-index:1000;
    background:transparent;
    position:absolute;
    cursor:pointer;
}

.videoCover img.playBtn{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-20px;
    margin-top:-20px;
    width:40px;
    height:auto;
}

.embedForm{
    width:100%; 
    margin-top:150px;
}

form.uploadVideoForm{
    width:100%;
    position:absolute;
    left:0px;
    bottom:2px;
    background-color:#1e3c64;
}

/* End CVideo Section */

/* ------ End Info Section ------ */
.description h3{
    color:#5B5A59;
}

.description p.goal{
    font-size:18px;
    font-family:"Raleway-Light";
}

.description form textarea{
    font-size:16px;
        height:120px;
    font-family:"Raleway-Light";
}

/* ----- Keywords Section ----- */

.keywordsTitle{
    padding-bottom:14px;
}

.keywordsTitle h3{
    font-size:24px;
    float:left;
    color:#5B5A59;
}
  
.keywordsTitle p{
    float:left;
    font-size:18px;
    padding-left:50px;
    padding-top:20px;
}
.keywordsTitle p a{
    cursor:pointer;
}

ul.profile-keywords{
    list-style-type:none;
    padding-left:0px;
}
a#addProfessionalKeyword{
    color:#5a1d4f;
}
a#addPersonalKeyword{
    color:#5a1d4f;
}
 
.profile-keywords input.plusButton{
    width:45px;
}

form#addPersonalKeywords input{
    padding:10px;
    width:153px;
    margin-right:5px;
}

form#addProfessionalKeywords input{
    padding:10px;
    width:153px;
    margin-right:5px;
}
a.keywordType{
    color:black;
    opacity:0.5;
    font-size:16px;
}
.clickedKeyType{
    color: #5a1d4f !important;
    opacity:1 !important;
}  
ul.profile-keywords li{
    font-family: "Raleway-Light";
} 
ul.profile-keywords li.keyword{
    background-color: #f0f0f0;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    margin-right:20px;
    float:left;
    width:auto;
    min-width:19%;
    margin-bottom:10px;
    margin-right:1%;
}
li.keyword form{
    float:right;
}
input#deleteKeyword{
    cursor:pointer;
    background:none;
    border:none;
    font-family: "Raleway-Light";
    font-size:16px;
    float:right;
    margin-right:5px;
    /*display:none;*/
}

/* Keywords Suggestions */
.allKeywordResults {
    display:none;
    margin:15px;
    margin-top:2px;
    padding:5px;
    width:258px;
    display: absolute;
    border: 1px solid #c0c0c0;
}

.allKeywordResults .item {
    padding: 3px;
    font-family: "Raleway-Light";
}

.allKeywordResults .item:last-child {
    border-bottom: 0px;
}

.allKeywordResults .item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#professionalKeywordResults {
    display:none;
    width: 151px;
    margin-left:0px;
    margin-top:2px;
    display: absolute;
    border: 1px solid #c0c0c0;
}

#professionalKeywordResults .item {
    padding: 3px;
    font-family: "Raleway-Light";
}

#professionalKeywordResults .item:last-child {
    border-bottom: 0px;
}

#professionalKeywordResults .item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#personalKeywordResults {
    display:none;
    width: 151px;
    margin-left:0px;
    margin-top:2px;
    display: absolute;
    border: 1px solid #c0c0c0;
}

#personalKeywordResults .item {
    padding: 3px;
    font-family: "Raleway-Light";
}

#personalKeywordResults .item:last-child {
    border-bottom: 0px;
}

#personalKeywordResults .item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
/* End Keywords Suggestions */

/* --- End Keyword Section --- */

/* Experience box Style */

.experience-box ul{
    list-style-type: none;
    padding-left:0px;
}

.experience-box h3{
    color:#5B5A59;
    font-size:16px;
}

.experience-box form label{
    padding-top:5px;
    font-family: "Raleway-Light";
}

.experience-box form input{
    padding:5px;
    font-family: "Raleway-Regular";
}

form input#addExperienceButton{
    padding-left:25px;
    padding-right:25px;
    font-size:15px;
    font-style:normal;
}

a#addWorkExperience{
    font-family:"Raleway-SemiBold";
    font-size:12px;
    color:#5a1d4f
}

li.workExperience {
    position:relative;
    border-top:1px solid white;
    padding-top:10px;
    margin-right:38px;
}
li.workExperience p{
    padding-left:0px;
    padding-right:0px;
}

.date-input {
    padding-left: 10px !important;
}

.current-input {
    /*border: 1px solid black;*/
}

input#deleteWorkExperience{
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    background:none;
    border:none;
    font-family: "Raleway-Regular";
    font-style: normal;
    font-size:16px;
    float:right;
    margin-right:5px;
}


input#editWorkExperience{
    padding-left:25px;
    padding-right:25px;
    font-size:15px;
    font-style:normal;
}
input#editEducation{
    padding-left:25px;
    padding-right:25px;
    font-size:15px;
    font-style:normal;
}

a#addEducation{
    font-family:"Raleway-SemiBold";
    font-size:12px;
    color:#5a1d4f;
}

input#addEducation{
    padding-left:25px;
    padding-right:25px;
    font-size:15px;
    font-style:normal;
}


li.educationExperience {
    position:relative;
    border-top:1px solid white;
    padding-top:10px;
    margin-right:38px;
}
li.educationExperience p{
    padding-left:0px;
    padding-right:0px;
}

input#deleteEducationExperience{
    position:absolute;
    top:5px;
    right:0px;
    cursor:pointer;
    background:none;
    border:none;
    font-family: "Raleway-Light";
    font-size:16px;
    float:right;
    margin-right:5px;
}

/* Add Work Experience Form */
.selectTimeFrame input{
    padding:0px;
    width:50px;
}
.selectTimeFrame select{
    padding:5px;
}
/* End Experience Style */

.multiselectBtn{
    border:1px solid #ccc;
    font-family: inherit;
    font-size:14px;
    padding-left:17px;
    padding-right:6px;
    font-family: "Raleway-Regular";
    line-height: 1.42857143;
    color: #555;
}
.multiselectBtn .caret{
    margin-top:8px;
}
/* Experience form Style */
input.select-date{
    float:left;
    width:90px;
    border: 1px solid #ccc;
}

select.sb-date-select-month{
    float:left;
    width:100px;
}
select.sb-date-select-year{
    float:left;
    width:70px;
}
.selectTimeFrame p{
    float:left;
    display:inline;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
}
/* End experience from Style */

/* -------End Profile Styles---------- */


footer{
    background-color:#1e3c64;
    width:100%;
}

footer ul{
    list-style-type:none;
}
footer ul li{
    float:left;
    margin-left:25px;
    text-align:center;
}


footer a{
    color:white;
    text-decoration:none;
    font-family:"Raleway-Regular";
}

footer a:hover{
    color:white;
    text-decoration:none;
}

footer a img#footer-logo{
    width:150px;
    height:auto;
    margin-top:12px;
    margin-left:-5px;
}

footer p{
    margin-top:0px;
    width:300px;
    font-size:14px;
    color:white;
    font-family:"Raleway-Regular";
}

footer h3{
    margin-top:35px;
    margin-bottom:10px;
}

footer a img{
    width:30px;
    height:auto;
    margin-top:15px;
    margin-left:10px;
}

.header-logo-image{
    width:70%;
}

/* Specify styling for tooltip error */
.tooltip.tooltip-error .tooltip-inner {
    color: #d9534f;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-weight: bold;
    width:150px;

    box-shadow:
        0 0 1px #d9534a,
        0 0 1px #d9534f;
}

/* Tooltip-right error arrow */
.tooltip.tooltip-error .tooltip-arrow {
    border-right-color: #ffffff;
}

/* Shadow box for input field with errors */
.input-error {
    box-shadow:
        0 0 10px #d9534a,
        0 0 15px #d9534f;
}

.edit-overlay {
    z-index: 10000;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
/* Styles */
    #home-bg-cover{
        height:400px;
    }

    #homeIntro{
        margin-top: 10%;
    }

    #homeIntro h1{
        font-size:28px;
        text-shadow:none;
    }

    #homeIntro h3{
        font-size:18px;
        text-shadow:none;
    }

    #home-description h1{
        font-size:30px; 
    }

    #home-description h3{
        font-size:22px;
    }

    #home-sub-description h1 {
        font-size:30px;
    }

    #company-sub-description h1{
        font-size:30px;
    }

    #home-sub-description h3{
        font-size:18px;
    }

    #company-sub-description h3{
        font-size:18px;
    }

    .box{
        margin-top:10px;
        width: 99%;
    }

    footer ul{
        margin-top:22px;    
        margin-left:-65px;
    }

    .picture-box{
        margin-top:10px;
    }

    /* Profile Style */
    .profile-menu-top-margin{
        text-align: center;
    }

    .top-bar h1{
        width: 100%;
        text-align:center;
        padding-bottom:10px;
        border-bottom:1px solid #1e3c64;
    }

    .top-bar h2{
        width: 100%;
        text-align:center;
        padding:0px;
    }

    .keywordsTitle p{
        padding-left:0px;
        padding-top:5px;
    }

    .uploadVideoTable{
        width:100%; 
        margin-top:80px;
    } 

    .uploadVideoTable .video-form-options{
        text-align:center;
        margin-bottom:40px;
    }


}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) {
/* Styles */
    #home-bg-cover{
        height:400px;
    }

    #homeIntro{
        margin-top: 15%;
    }

    #homeIntro h1{
        font-size:30px;
    }

    #homeIntro h3{
        font-size:18px;
    }

    #home-sub-description h1, #company-sub-description h1{
        font-size:30px; 
    }

    #home-description h3, #company-sub-description h3{
        font-size:18px;
    }
}

/* Computer (laptop and desktop) ----------- */
@media only screen and (min-device-width : 1024px) {
/* Styles */
    #home-bg-cover{
        height:700px;
    }

    #homeIntro{
        margin-top: 280px;
    }

    #homeIntro h1{
        font-size:50px;
    }

    #homeIntro h3{
        font-size:25px;
        margin-bottom:30px;
    }

    #home-description h1{
        font-size:50px; 
    }

    #home-description h3{
        font-size:28px;
    }

    #home-sub-description h1, #company-sub-description h1{
        font-size:50px;
        color:white;
    }

    #home-sub-description h3, #company-sub-description h3{
        font-size:28px;
        color:white;
    }

    footer ul{
        margin-top:42px;    
        margin-left:30px;
    }


    /* Profile Style */

    .top-bar h1{
        margin-left:30px;
        padding-right:20px;
        border-bottom:none;
        border-right:1px solid #1e3c64;
    }

    .uploadVideoTable{
        width:100%; 
        margin-top:150px;
    }
}